@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

html {
  font-size: 10px;
  background: url(https://i.imgur.com/wK9TPfD.jpg) bottom center;
  background-size: cover;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1,
h3 {
  font-family: "Dancing Script", cursive;
  color: pink;
  text-align: center;
}
h1 {
  font-size: 7em;
}
h3 {
  font-size: 3em;
}
.cards {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.card {
  width: 15rem;
  padding: 1rem;
  margin: 1rem;
  border: 0.4rem solid white;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.07s ease;
}
.card img {
  height: 10rem;
  width: 15rem;
}
.playing {
  transform: scale(1.1);
  border-color: #0084ff;
  box-shadow: 0 0 1rem #0084ff;
}
kbd {
  display: block;
  font-size: 4rem;
}
span {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #0084ff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2rem;
}
