html {
  font-size: 10px;
  background: url(https://i.imgur.com/wK9TPfD.jpg) bottom center;
  background-size: cover;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.cards {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.card {
  width: 15rem;
  padding: 1rem;
  margin: 1rem;
  border: 0.4rem solid black;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.07s ease;
}
.card img {
  height: 10rem;
  width: 15rem;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
kbd {
  display: block;
  font-size: 4rem;
}
span {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
